* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
	background-color: #fff7ff;
    margin: 0;
    padding: 10px;
}

.flex-container {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
    gap: 20px;
    height: 100%;
}

.book-grid {
	background-color: #e2e8f0;
	display: grid;
    grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 8px;
    gap: 20px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.32);
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.32);
}

.book-card {
	background-color: #fff7ff;
	border-radius: 5px;
    padding: 16px;
	-webkit-box-shadow: 4px 3px 5px -3px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 4px 3px 5px -3px rgba(0, 0, 0, 0.32);
	box-shadow: 4px 3px 5px -3px rgba(0, 0, 0, 0.32);
    text-align: center;
}